{% extends 'FulltripBundle::base.html.twig' %}

{% block title %}Recherche de lieux{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/adds.css') }}">{% endblock %}
{% block main %}
    <a href="/"><img src="{{ asset('img/logo-color.png') }}" alt="FullTrip logo" class="logo"></a>

    <section>
        {{ form_start(form, {'name': 'search', 'action': path('fulltrip_search')}) }}
        {{ form_widget(form.city, { 'attr': {'class': 'city'} }) }}
        <i class="fa fa-search" aria-hidden="true"></i>
        {{ form_end(form) }}

        <form action="#" name="filters">
            <input type="range" name="distance" value="20" max="50" min="0" step="1">
            <input type="range" name="price" value="300" max="300" min="0" step="10">
            <input type="range" name="grade" value="0" max="6" min="0" step="1">
        </form>

        <ul class="places">
            {% for places in places %}
                <li>
                    <img src="{{ asset('/upload/post/' ~ places.postName) | imagine_filter('thumb') }}"
                         alt="{{ places.name }}">
                    <br>
                    <span class="category">{{ places.category[:1]|upper ~ places.category[1:] }}</span><br>
                    <span class="distance">A {{ (places.distance / 1000)|round() }} km</span><br>
                    <span class="price">
                        {% if places.price == 0 %}
                            Gratuit
                        {% else %}
                            &lt; {{ places.price }} €
                        {% endif %}
                    </span>
                    <br>

                    <a href="/post/{{ places.id }}/stay-add" class="add">+</a>
                    <a href="/post/{{ places.id }}">{{ places.name }}</a>
                    {% if places.grade != 0 %}
                        <span class="average-stars">{{ places.grade / 2 }}</span>
                    {% else %}
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    {% endif %}
                    <p>{{ places.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>

    <aside class="stay">
        <div id="map" style="height: 400px;width: 400px;"></div>

        <h3>Votre séjour</h3>
        <h4>Voici le récapitulatif de votre séjour</h4>

        <table>
            <thead>
            <tr>
                <th colspan="2">
                    {% if form.vars.value.city is defined %}
                        {{ form.vars.value.city[:1]|upper ~ form.vars.value.city[1:] }}
                    {% endif %}
                </th>
            </tr>
            </thead>
            <tbody>
            <!-- TODO: Complete with jQuery -->
            </tbody>
        </table>
    </aside>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/map.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPJHqDG8xtLCrc9wlLW_aJ5-naekV7LUI&callback=initMap&libraries=places"
            async defer></script>
    <script src="{{ asset('js/stay.js') }}"></script>
    <script src="{{ asset('js/autocomplete.js') }}"></script>
    <script src="{{ asset('js/stars.js') }}"></script>
{% endblock %}