{% extends 'FulltripBundle::base.html.twig' %}

{% block title %}Recherche de lieux{% endblock %}
{% block main %}
    <section>
        {{ form_start(form, {'name': 'search', 'action': path('fulltrip_search')}) }}
        {{ form_widget(form.city, { 'attr': {'class': 'city'} }) }}
        {{ form_end(form) }}

        <ul class="places">
            {% for places in places %}
                <li>
                    <a href="/post/{{ places.id }}">{{ places.name }}</a>
                    <hr>

                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}