{% extends 'FulltripBundle::base.html.twig' %}

{% block title %}Recherche de lieux{% endblock %}
{% block main %}
    <section>
        {{ form_start(form, {'name': 'search', 'action': path('fulltrip_search')}) }}
        {{ form_widget(form.city, { 'attr': {'class': 'city'} }) }}
        {{ form_end(form) }}

        <ul class="places">
            {% for places in places %}
                <li>
                    <a href="/post/{{ places.id }}">{{ places.name }}</a>
                    <a href="/post/{{ places.id }}/stay-add" class="add">+</a>
                    <hr>

                </li>
            {% endfor %}
        </ul>
    </section>

    <aside class="stay">
        <div id="map" style="height: 500px"></div>

        <h3>Votre séjour</h3>
        <h4>Voici le récapitulatif de votre séjour</h4>

        <table>
            <thead>
            <tr>
                <th colspan="2">
                    <h3>
                        {% if form.vars.value.city is defined %}
                            {{ form.vars.value.city[:1]|upper ~ form.vars.value.city[1:] }}
                        {% endif %}
                    </h3>
                </th>
            </tr>
            </thead>
            <tbody>
            <!-- TODO: Complete with jQuery -->
            </tbody>
        </table>
    </aside>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/map.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPJHqDG8xtLCrc9wlLW_aJ5-naekV7LUI&callback=initMap&libraries=places"
            async defer></script>
    <script src="{{ asset('js/stay.js') }}"></script>
{% endblock %}