{% extends 'FulltripBundle::base.html.twig' %}

{% block title %}Recherche de lieux{% endblock %}
{% block main %}
    <section>
        {{ form_start(form, {'name': 'search', 'action': path('fulltrip_search')}) }}
        {{ form_widget(form.city, { 'attr': {'class': 'city'} }) }}
        {{ form_end(form) }}

        <ul class="places">
            {% for places in places %}
                <li>
                    <a href="/post/{{ places.id }}">{{ places.name }}</a>
                    <a href="/post/{{ places.id }}/stay-add" class="add">+</a>
                    <hr>

                </li>
            {% endfor %}
        </ul>
    </section>

    <aside class="stay">
        <h3>Votre séjour</h3>
        <h4>Voici le récapitulatif de votre séjour</h4>

        <table>
            <thead>
            <tr>
                <th colspan="2">
                        <h3>{{ form.vars.value.city }}"</h3>
                    </form>
                </th>
            </tr>
            </thead>
            <tbody>
             <!-- TODO: Complete with jQuery -->
            </tbody>
        </table>
    </aside>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/stay.js') }}"></script>
{% endblock %}