{% trans_default_domain 'FOSUserBundle' %}
<div class="register-form-container">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_errors(form) }}

    {{ form_widget(form.gender,{ 'attr': {'class': "register-inputs"
    } }) }}
    {{ form_errors(form.gender) }}<br>

    {{ form_widget(form.firstname, { 'attr': {'class': "register-inputs",
        'placeholder': 'Prénom'} }) }}
    {{ form_errors(form.firstname) }}<br>
    {{ form_widget(form.lastname, { 'attr': {'class': "register-inputs",
        'placeholder': 'Nom'} }) }}
    {{ form_errors(form.lastname) }}<br>

    {{ form_widget(form.email, { 'attr': {'class': "register-inputs",
        'placeholder': 'e-mail'} }) }}
    {{ form_errors(form.email) }}<br>

    {{ form_widget(form.plainPassword.first, { 'attr': {'class': "register-inputs",
        'placeholder': 'Mot de passe'} }) }}
    {{ form_errors(form.plainPassword.first) }}<br>

    {{ form_widget(form.plainPassword.second, { 'attr': {'class': "register-inputs",
        'placeholder': 'Vérification'} }) }}
    {{ form_errors(form.plainPassword.second) }}<br>
    {{ form_label(form.birthdate) }}<br>
    {{ form_widget(form.birthdate) }}
    {{ form_errors(form.birthdate) }}<br>
    {{ form_rest(form) }}<br>
    <input type="submit" value="{{ 'registration.submit'|trans }}"/>
</div>
{{ form_end(form) }}
