<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FullTrip | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <a href="/#" class="not-lg">
        <img src="{{ asset('img/sm-logo.png') }}" alt="FullTrip logo" class="sm-logo">
    </a>
    <img src="{{ asset('img/sm-menu.png') }}" alt="Mobile menu" class="sm-menu menu-icon not-lg">

    <div class="lg">
        <ul>
            <li class="propose-activity"><a href="/post/create">Proposer une activité</a></li>
            <li class="login-register">
                {% if app.user %}
                    <a href="/dashboard">Connecté</a>
                {% else %}
                    <a href="#" id="login">Inscription / Connexion</a>
                {% endif %}
            </li>
        </ul>
    </div>
</header>

<div class="modal">
    <div class="login-popup">
        {% render url('fos_user_security_login') %}
    </div>
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
</div>

<nav class="mobile-menu not-lg">
    <ul>
        <li>
            <a href="/">Page d'acceuil</a>
        </li>
        <li>
            <a href="#">Télécharger l'application</a>
        </li>
        <li>
            {% if app.user %}
                <a href="/dashboard">Connecté</a>
            {% else %}
                <a href="#">Connexion</a>
            {% endif %}
        </li>
        <li>
            <a href="/register">Inscription</a>
        </li>
        <li>
            <a href="#">Proposer une activité</a>
        </li>
        <li>
            <a href="#">Rechercher</a>
        </li>
        <li>
            <a href="#">Comment ça marche?</a>
        </li>
    </ul>
</nav>

<main role="main">
    <div class="mask"></div>
    {% block main %}{% endblock %}
</main>

<!--<footer>
    <span>&copy; 2016 FullTrip</span>
</footer>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="{{ asset('js/modals.js') }}"></script>
<script src="{{ asset('js/login.js') }}"></script>
<script src="{{ asset('js/menu.js') }}"></script>
<script src="{{ asset('js/autocomplete.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>