{% trans_default_domain 'FOSUserBundle' %}

<a href="/profile/edit">Modifier mon profil</a>

<div class="fos_user_user_show">

    <img src="
        {% if user.avatarName is not empty %}
            {{ asset('/upload/avatar/' ~ user.avatarName) | imagine_filter('thumb') }}
        {% else %}
            {{ asset('img/avatar-default.png') }}
        {% endif %}
    " alt="Avatar">

    <p>{{ 'profile.show.firstname'|trans }}: {{ user.firstname }}</p>
    <p>{{ 'profile.show.lastname'|trans }}: {{ user.lastname }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>{{ 'profile.show.birthdate'|trans }}: {{ user.birthdate|date('d/m/Y') }}</p>
    <p>{{ 'profile.show.gender'|trans }}: {{ user.gender }}</p>


</div>