{% extends 'FulltripBundle::base.html.twig' %}

{% block title %}Modifier une activité{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/adds.css') }}">{% endblock %}
{% block main %}
    <a href="/"><img src="{{ asset('img/logo-color.png') }}" alt="FullTrip logo" class="logo"></a>
    <section>
        {{ form_start(form, {'name': 'edit', 'action': '/post/' ~ place.id ~ '/edit'}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <a href="{{ '/post/' ~ place.id ~ '/delete' }}">
            <button>Supprimer l'annonce</button>
        </a>
    </section>
{% endblock %}