{% extends 'FulltripBundle::base.html.twig' %}

{% block title %}{{ place.name }} à {{ place.city }}{% endblock %}
{% block main %}
    <section>
        <h1>{{ place.name }} à {{ place.city }}</h1>
        <hr>
        <img src="{{ vich_uploader_asset(place, 'post') }}" alt="{{ place.name }}">
        <p>Catégorie : {{ place.category[:1]|upper ~ place.category[1:] }}</p>
        <p>Adresse : {{ place.address }}, {{ place.zipCode }} {{ place.city }}</p>
        <p>Prix : < {{ place.price }} €</p>

        <div>
            Description :<br>
            {{ place.description }}
        </div>
    </section>
{% endblock %}