{% extends 'FulltripBundle::base.html.twig' %}

{% block title %}{{ place.name }} à {{ place.city }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/adds.css') }}">{% endblock %}
{% block main %}
    <section>
        <h1>{{ place.name }} à {{ place.city }}</h1>
        <hr>
        <img src="{{ asset('/upload/post/' ~ place.postName) | imagine_filter('post')  }}" alt="{{ place.name }}">
        <p>Catégorie : {{ place.category[:1]|upper ~ place.category[1:] }}</p>
        <p>Adresse : {{ place.address }}, {{ place.zipCode }} {{ place.city }}</p>
        <p>
            Prix :
            {% if place.price == 0 %}
                Gratuit
            {% else %}
                &lt; {{ place.price }} €
            {% endif %}
        </p>
        <p>
            Note :
            {% if place.grade != 0 %}
                <span class="average-stars">{{ place.grade / 2 }}</span>
            {% else %}
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            {% endif %}
        </p>

        <div>
            Description :<br>
            {{ place.description }}
        </div>
    </section>
    <section>
        {% if app.user %}
            <h3>Vous en avez pensé quoi ?</h3>
            {{ form_start(form, {'name': 'review', 'action': '/post/' ~ place.id ~'/review'}) }}
            <span>Votre note</span>
            <label for="review_form_grade_0" class="label-stars"><i class="fa fa-star-o" aria-hidden="true"></i></label>
            <label for="review_form_grade_1" class="label-stars"><i class="fa fa-star-o" aria-hidden="true"></i></label>
            <label for="review_form_grade_2" class="label-stars"><i class="fa fa-star-o" aria-hidden="true"></i></label>
            <label for="review_form_grade_3" class="label-stars"><i class="fa fa-star-o" aria-hidden="true"></i></label>
            <label for="review_form_grade_4" class="label-stars"><i class="fa fa-star-o" aria-hidden="true"></i></label>

            {{ form_widget(form.grade) }}
            {{ form_widget(form.comment) }}
            <br>
            {{ form_widget(form.save) }}
            {{ form_end(form) }}
        {% else %}
            <h3>Connectez-vous pour laisser votre avis</h3>
        {% endif %}

        <h4>Avis</h4>
        {% for reviews in reviews %}
            <span class="stars">{{ reviews.grade }}</span>
            <span>{{ reviews.user.firstName }}</span>
            <div class="comments">{{ reviews.comment }}</div>
            {% if app.user %}
                {% if app.user.id == reviews.user.id %}
                    <a href="{{ '/review/' ~ reviews.id ~'/delete' }}">Supprimer</a>
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/stars.js') }}"></script>
{% endblock %}